@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "vendor/reset";

html, body {
  font-family: 'Robot', sans-serif;
}

body {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

html, body, #app {
  display: flex;
  height: 100%;
  width: 100%;
}
