@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "vendor/reset";

html, body {
  font-family: 'Robot', sans-serif;
}

body {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

html, body, #app {
  display: flex;
  height: 100%;
  width: 100%;
}

.section {
  padding: 30px;
  display: flex;
  flex-direction: column;

  &--black {
    background-color: #000;
  }

  &--full {
    align-items: baseline;
    flex: 1;
    align-self: stretch;
    overflow: auto;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__group {
    display: flex;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    color: #fff;
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    padding: 8px 6px 6px;
    font-size: 16px;
    border-bottom: 2px solid #fff;

    &--large {
      padding: 16px 8px 12px;
      font-size: 20px;
      border-bottom: 4px solid #fff;
    }
  }
}

.button {
  background-color: #fff;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  padding: 8px 10px;

  &--large {
    font-size: 20px;
    padding: 16px 32px;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}
